@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@500&family=Open+Sans:ital,wght@0,300;0,600;1,300&family=Poppins:wght@300;400;500;600&family=Quicksand:wght@400;600;700&family=Roboto:wght@500;700&display=swap');
body
{
  font-family: 'Roboto', sans-serif;
}
.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }
    .abc
    {
        line-height: 0px;
    }
   .bcd
   {
    position: relative;
   }
 .kkk
 {
    position: absolute;
    bottom: 350px;
    color: whitesmoke;
    left: 500px;
 }
 .ggg
 {
    position: absolute;
    bottom: 290px;
    color: whitesmoke;
    left: 500px;
 }
 .hhh
 {
    position: absolute;
    bottom: 170px;
    color: black;
    left: 600px; 
    text-align: center;
}
.lll
{
    margin-left: 20px;
}
.foot
{
   background:url("https://t3.ftcdn.net/jpg/02/91/65/70/360_F_291657078_Qicf1iAn8AcuvlC9juR8QJvGmiQj69gM.jpg");
   height: 80vh;
   background-size: cover;
   background-repeat: no-repeat;

}
.kaun
{
margin-left: 250px;
display: flex;
flex-direction: column;
justify-content: center;
}

.papa
{
   margin-top: 20px;
}
.kbc
{
   height: 15vh;
}
.dog
{
   height: 30vh;
  object-fit: cover;
}
.who
{
   margin-left: 650px;
   margin-bottom: 15px;
}
.owl 
{
   height: 10vh;
}
.what
{
   width: 100px;
 
}
.same
{
   height: 15vh;
   width: 1800px;
   h2 
   {
      background-color: #3c84c1;
      height: 15vh;
      display:flex;
    flex-direction: column;
    justify-content: center;
      padding-left: 40px;
      color: white;
   }

  
}
.eee
{
   text-decoration: none;
   list-style-type: none;
}
.navbar .navbar-nav .nav-link {
   color: #000000;
   font-size: 1.1em;
 }
 .navbar .navbar-nav .nav-link:hover {
   color: red;
 }
 .navbar .navbar-nav .nav-item {
   position: relative;
 }
 .navbar .navbar-nav .nav-item::after {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   background-color: red;
   width: 0%;
   content: "";
   height: 2px;
   top: 15px;
   transition: all 0.5s;
 }
 
 .navbar .navbar-nav .nav-item:hover::after {
   width: 100%;
 }
 .navbar-expand-lg .navbar-nav .nav-link
 {
   padding: 8px;
 }
 .simple
{
  color: black;
  :hover
  {
    color: red;
  }
}
.zoom {
   align-items: center;
   background-color: white;
   transition: transform .5s;
   // height: 200px;
   margin: 0 auto;
 }
 
 .zoom:hover {
   -ms-transform: scale(0.5); /* IE 9 */
   -webkit-transform: scale(1); /* Safari 3-8 */
   transform: scale(1.3); 
 }